<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.godaddy.ecomm.dao.fulfillment.SnapshotMapper">
  <resultMap id="BaseResultMap" type="com.godaddy.ecomm.base.fulfillment.Snapshot">
    <id column="snapshot_id" property="snapshot_id" jdbcType="INTEGER"/>
    <result column="snapshotTime" property="snapshotTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")"
                    separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")"
                    separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    snapshot_id, snapshotTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap"
    parameterType="com.godaddy.ecomm.base.fulfillment.SnapshotExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from snapshot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from snapshot
    where snapshot_id = #{snapshot_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from snapshot
    where snapshot_id = #{snapshot_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.godaddy.ecomm.base.fulfillment.SnapshotExample">
    delete from snapshot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.godaddy.ecomm.base.fulfillment.Snapshot"
    useGeneratedKeys="true" keyProperty="snapshot_id">
    insert into snapshot (snapshot_id, snapshotTime)
    values (#{snapshot_id,jdbcType=INTEGER}, #{snapshotTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.godaddy.ecomm.base.fulfillment.Snapshot"
    useGeneratedKeys="true" keyProperty="snapshot_id">
    insert into snapshot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="snapshot_id != null">
        snapshot_id,
      </if>
      <if test="snapshotTime != null">
        snapshotTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="snapshot_id != null">
        #{snapshot_id,jdbcType=INTEGER},
      </if>
      <if test="snapshotTime != null">
        #{snapshotTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.godaddy.ecomm.base.fulfillment.SnapshotExample"
    resultType="java.lang.Integer">
    select count(*) from snapshot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update snapshot
    <set>
      <if test="record.snapshot_id != null">
        snapshot_id = #{record.snapshot_id,jdbcType=INTEGER},
      </if>
      <if test="record.snapshotTime != null">
        snapshotTime = #{record.snapshotTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update snapshot
    set snapshot_id = #{record.snapshot_id,jdbcType=INTEGER},
    snapshotTime = #{record.snapshotTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.godaddy.ecomm.base.fulfillment.Snapshot">
    update snapshot
    <set>
      <if test="snapshotTime != null">
        snapshotTime = #{snapshotTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where snapshot_id = #{snapshot_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.godaddy.ecomm.base.fulfillment.Snapshot">
    update snapshot
    set snapshotTime = #{snapshotTime,jdbcType=TIMESTAMP}
    where snapshot_id = #{snapshot_id,jdbcType=INTEGER}
  </update>
</mapper>